# Distribution and Packaging
*.pyc
*.DS_Store
build/
dist/
*.coverage
*.egg-info/
*.eggs/pytest*

#pytest caching
.pytest_cache/

# Sphinx documentation
docs/_build
docs/_static
docs/_templates

# Test notebooks
hera_qm/notebooks
hera_qm/.ipynb_checkpoints/

# Test coverage
hera_qm/tests/cover
hera_qm/cover

# Test output
hera_qm/data/test_output

# Script Output
*metrics.json
!example_firstcal_metrics.json
!example_omnical_metrics.json
!example_ant_metrics.json
*.ipynb_checkpoints
hera_qm/GIT_INFO
hera_qm/data/test_output/ant_metrics_output.json
